* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #5c4433;
  color: #000;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.topo {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
}

.topo img {
  max-height: 120px;
  height: auto;
  width: auto;
}

.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.texto {
  max-width: 800px;
}

.texto h1 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.imagem {
  width: 100%;
  position: relative;
  bottom: 0;
}

.imagem img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.texto a {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.6rem;
  background-color: #4e3629; /* marrom */
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.texto a:hover {
  background-color: #3a271c; /* tom mais escuro no hover */
}


/* Responsivo */
@media (max-width: 768px) {
  .topo img {
    max-height: 90px;
  }

  .texto h1 {
    font-size: 2.5rem;
  }

  .texto p {
    font-size: 1.2rem;
  }
}
