* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ff9141;
   overflow: hidden;
}

.manutencao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  color: #000;
  text-align: left;
  gap: 2rem;
  position: relative;
}

.topo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.topo img {
  max-height: 100px;
  height: auto;
  width: auto;
}

.texto {
  max-width: 600px;
}

.texto h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 2rem;
  line-height: 1.6;
}

.imagem img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Responsivo */
@media (max-width: 768px) {
  .manutencao {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .topo img {
    max-height: 80px;
  }

  .texto h1 {
    font-size: 2.2rem;
  }

  .texto p {
    font-size: 1.1rem;
  }

  .imagem img {
    max-width: 80%;
  }
}
